.search-users select{
  width: 70%;
  border-radius: 8px;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.imagen-rooms{
  width: 150px;
  max-height: 800px;
}
.table3 {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 14px;
}

/* Estilos para las celdas de encabezado */
.table3 th,
.table3 td,
.table3 tr {
  padding: 0.75rem;
  vertical-align: middle; /* Alinea verticalmente el contenido */
  border: 1px solid #dee2e6;
}



.table3 thead th {
  vertical-align: middle; 
  border-bottom: 2px solid #dee2e6;
}

@media screen and (min-width: 1380px) {
  .search-users select {
    width: 50%; /* Reduce el ancho del select en pantallas más grandes */
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 767px) {
  .imagen-rooms {
    width: 100%; /* Ajusta el ancho de la imagen al 100% en pantallas más pequeñas */
    max-height: none; /* Elimina la altura máxima en pantallas más pequeñas */
  }
}