.main-booked-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 470px;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-booked-container button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bi-calendar2-check {
  font-size: 100px;
  color: #022840
}