.paginationContainer {
  bottom: 20px; /* Puedes ajustar la distancia desde el borde inferior según tu preferencia */
  left: 0;
  right: 0;
  text-align: center; /* Para centrar horizontalmente los elementos */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}

.paginationContainer ul {
  list-style: none;
  padding: 0;
}

.paginationContainer ul li {
  margin-bottom: 5px; /* Espacio entre elementos de la lista */
}

.paginationButton {
  margin: 0 10px; /* Espacio entre botones y elementos de la lista */
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paginationContainer button:hover {
  background-color: #0056b3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paginationButtonOff {
    margin: 0 10px; /* Espacio entre botones y elementos de la lista */
  cursor: pointer;
  padding: 10px 20px;
  background-color: gray;
  color: #333;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: gray !important; 
}