.reservation-card {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: auto;
}

.reservation-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: FLEX;
}

.reservation-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.reservation-info {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    
}

.reservation-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.reservation-info p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.reservation-info p strong {
    font-weight: bold;
}

.reservation-info p span {
    color: #777;
}

.button {
    background-color: #01283F;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}