.reviewsContainer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 0 10px 0 10px;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #888888 ;
  width: 700px;
}

.comment {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userNationality {
  font-size: 15px;
  margin-left: 5px;
  font-style: italic;
}

.reviewsContainer p {
  text-align: start;
  font-size: 15px;
}

.reviewScore {
  margin-left: 20px;

}

.reviewLine {
  border: 1px solid #ddd;
  width: 100%;
}

.paginationContainer {
  bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paginationButton {
  margin: 0 10px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #022840;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paginationContainer button:hover {
  background-color: #6093bf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paginationButtonOff {
  margin: 0 10px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: gray;
  color: #333;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: gray !important;
}
