.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.search-dashboard{
  display: flex;
  width: 100%;
  margin-left: 10%;
}

.search-bar{
  display: flex;
  align-items: center;
  width: 40%;
  height: 35px;
  gap: 10px;
}

.search-input{
  width: 70%;
  border-radius: 8px;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
}
.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px 5px 15px;
  background-color: #01283F;
  color: white;
  border-radius: 16px;
  border: none;
}

.search-button:hover{
  background-color: #6093C0;
  cursor: pointer;
}

.btn-deleted-container{
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.button1{
  width: 80%;
  height: 100%;
  padding: 5px 15px 5px 15px;
  background-color: #01283F;
  color: white;
  border-radius: 16px;
  border: none;
}

.button1:hover{
  background-color: #6093C0;
  cursor: pointer;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente la tabla */
  margin-top: 20px; /* Espacio superior */
  width: 100%;
  margin-left: 10%;
}

/* Estilos para la tabla */
.actual-table {
  width: 100%;
  overflow-x: auto; /* Habilita el desplazamiento horizontal si la tabla es más ancha que el contenedor */
  transition: opacity 0.3s ease;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para las celdas de la tabla */
.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd; /* Borde de las celdas */
  text-align: center; /* Alineación del texto al centro horizontalmente */
  vertical-align: middle; /* Centra verticalmente el contenido */
}

/* Estilos para las filas impares de la tabla */
.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Color de fondo de las filas impares */
}
.table tbody tr {
  transition: opacity 0.3s ease; /* Transición de opacidad para suavizar el cambio de página */
}

/* Estilos para la imagen de los hoteles */
.imagen-hotel {
  width: 150px; /* Ancho de la imagen */
  height: 100px; /* Altura automática para mantener la proporción */
}

/* Estilos para los botones de paginación */
.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones */
  margin-top: 20px; /* Espacio superior */
}

.button-container button {
  margin: 0 5px; /* Espacio entre los botones */
}
  
  

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Estilos para los botones de la paginación */
.pagination-button {
  background-color: #01283F;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #6093C0;
}

/* Estilos para el número de página */
.pagination span {
  font-size: 18px;
  transition: color 0.3s ease;
  margin: 0 10px;
}