.main-container3{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}
.main-editable-hotel{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 10px;
  gap: 10px;
}


.back-icon{
  font-size: 40px;
  color: #01283F;
  cursor: pointer;
}
.back-icon:hover{
  color: #6093C0;
}

.search-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.search-bar{
  display: flex;
  align-items: center;
  width: 40%;
  height: 35px;
  gap: 10px;
}

.search-input{
  width: 70%;
  border-radius: 8px;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px 5px 15px;
  background-color: #01283F;
  color: white;
  border-radius: 16px;
  border: none;
}

.search-button:hover{
  background-color: #6093C0;
  cursor: pointer;
}

.btn-deleted-container{
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.button1{
  width: 80%;
  height: 100%;
  padding: 5px 15px 5px 15px;
  background-color: #01283F;
  color: white;
  border-radius: 16px;
  border: none;
}

.button1:hover{
  background-color: #6093C0;
  cursor: pointer;
}




.table {
  width: 100% !important;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}


.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd; 
  text-align: center; 
  vertical-align: middle; 
}


.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.table tbody tr {
  transition: opacity 0.3s ease;
}


.imagen-hotel {
  width: 150px; 
  height: 100px; 
}


.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.button-container button {
  margin: 0 5px;
}
  
  

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid rgb(180, 175, 175);
  border-bottom: 1px solid rgb(180, 175, 175);
}


.pagination-button {
  background-color: #01283F;
  color: #fff;
  width: 30PX;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination-button:hover {
  background-color: #6093C0;
}


.pagination span {
  font-size: 18px;
  transition: color 0.3s ease;
  margin: 0 10px;
}

@media screen and (min-width: 1380px) {
  .main-container {
    margin: 20px;
    gap: 20px;
  }
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .search-bar {
    width: 100%;
  }

  .button1 {
    width: 100%;
  }
}