body {
  font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que prefieras */
}

.formContainer {
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.fieldContainer {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin: 0 auto;
  margin-top: 8px;
}

.input:focus {
  border-color: #007bff;
}

.countrySelect.error{
  border-color: #dc3545;
}

.starsSelect.error{
  border-color: #dc3545;
}
.error {
  border-color: #dc3545;
}

.errors {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.starsSelect,
.countrySelect {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
}

.formButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.formButton:hover {
  background-color: #0056b3;
}

.imageContainer {
  margin-bottom: 20px;
}

.imagePreview {
  max-width: 100%;
  margin-top: 10px;
}

.removeButton{
  background-color: red;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.removeButton:hover {
  background-color: rgb(127, 0, 0);
}