.mainContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
}

.componentsContainer{
    display: flex;
    justify-content: center;
}

.sliderContainer{
    width:100%;
    display: flex;
    justify-content: center;
}