.mainContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.trendingCountriesContainer{
    width: 100%;
    height: 840px;
    margin: 20px;
}

.sliderContainer{
    width:100%;
    display: flex;
    justify-content: center;
}

.darkMode .mainContainer {
    background-color: #1a1a1a; /* Color de fondo oscuro */
  }
  
  .darkMode .componentsContainer {
    color: #ffffff; /* Color del texto en modo oscuro */
  }