.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.mainContainer.darkMode {
    background-color: #333333;
    color: white; 
}
