.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
}

.mainContainer.darkMode {
    background-color: #333333; /* Color de fondo en modo oscuro */
    color: white; /* Color del texto en modo oscuro */
}
  