.divGeneral{
    display: flex;
    height: 50px;
    border-top: 1px solid rgb(206, 204, 204);
}

.inputStyle{
    flex: 1;
    padding-left: 10px;
    border-color: transparent;

    &:focus{
        outline: none;
    }
}

.divSendStyle{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SendActivate{
    color: blue;
    cursor: pointer;

    &:hover{
        color: rgb(6, 6, 141);
    }
}

.SendInActivate{
    color: rgb(136, 136, 136);
}