.mainContainer{
    width: 100%;
    height: 100%;
    margin-top: -8px;
}
.icon {
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
  }

  .logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 25px;
  }

  .logoContainer p {
    font-size: 20px;
    font-weight: 600;
    margin-top: -20px;
    color: white;
  }

  .logo{
    width: 100px;
    height: 100px;
  }

  @media screen and (min-width: 1380px) {
    .logo {
      width: 150px; /* Ajusta el tamaño del logo en pantallas más grandes */
      height: 150px;
    }
  
    .logoContainer p {
      font-size: 24px; /* Ajusta el tamaño del texto en pantallas más grandes */
    }
  }
  
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 767px) {
    .icon {
      font-size: 18px; /* Ajusta el tamaño del ícono en pantallas más pequeñas */
    }
  
    .logoContainer {
      margin-top: -15px; /* Ajusta el margen superior en pantallas más pequeñas */
      margin-bottom: 15px; /* Ajusta el margen inferior en pantallas más pequeñas */
    }
  
    .logo {
      width: 80px; /* Ajusta el tamaño del logo en pantallas más pequeñas */
      height: 80px;
    }
  
    .logoContainer p {
      font-size: 16px; /* Ajusta el tamaño del texto en pantallas más pequeñas */
    }
  }