.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px auto;
  max-width: 300px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-link {
  text-decoration: none;
  color: #333;
  display: block;
}

.card-image {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  padding: 16px;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card-text {
  margin: 8px 0;
  font-size: 20px;
}


.card-text.stars {
  font-size: 14px;
  color: #666;
}

.info-icon {
  margin: 2px 0px 0 0;
  color: #082c44;
  font-size: 18px;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}