.main-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group img {
    margin-bottom: 15px;
    width: 450px;
  }
  
  .form-label {
    font-weight: bold;
    display: block;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .image-preview {
    margin-top: 20px;
  }
  
  .remove-image-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn {
    background-color: #022840;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .submit-btn:hover{
    background-color: #6093bf;
    cursor: pointer;
  }

  .form-select{
    width: 104%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-input1{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
    font-size: 15px;
  }