.searchBar {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.searchInput {
  border-radius: 5px;
  border-color: transparent;
  width: 200px;
}

.searchButton{
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.searchButton:hover {
  background-color: #0056b3;
}