.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
  padding: 0 10px 0 10px;
}

.filters {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.filters p {
  margin: 5px 0 5px 0;
  color: black;
}

.dateInput {
  border-color: transparent;
  margin: 0 20px 0 0;
}

.searchBar{
  width: 99%;
  height: 40px;
  display: flex;
}

.searchInput{
  width: 100%;
  border-radius: 16px;
  margin-top: 10px;
  height: 100%;
  border: none;
  padding-left: 30px;
}

.searchIcon {
  position: absolute;
  top: 30%;
  left: 12px;
  transform: translateY(-50%);
  color: #555;  
  width: 20px;
  margin-left: 10px;
}


.searchButton{
  width: 194px;
  height: 48px;
  border-radius: 12px;
  background-color: #01283F;
  color: white;
  font-size: 18px;
}

.searchButton:hover{
  background-color: #031a27;
}

/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 576px) {
  .container {
    gap: 10px; /* Reducimos el espacio entre elementos para pantallas más pequeñas */
  }

  .searchInput {
    padding-left: 20px; /* Reducimos el padding izquierdo del input de búsqueda para pantallas más pequeñas */
  }

  .searchIcon {
    left: 8px; /* Ajustamos la posición del ícono de búsqueda para pantallas más pequeñas */
    width: 12px; /* Reducimos el tamaño del ícono de búsqueda para pantallas más pequeñas */
  }

  .searchButton {
    width: 150px; /* Reducimos el ancho del botón de búsqueda para pantallas más pequeñas */
    height: 30PX; /* Reducimos la altura del botón de búsqueda para pantallas más pequeñas */
    font-size: 16px; /* Reducimos el tamaño de la fuente del botón de búsqueda para pantallas más pequeñas */
  }
}

/* Media queries para pantallas más grandes */
@media screen and (min-width: 1400px) {
  .container {
    gap: 30px; /* Aumentamos el espacio entre elementos para pantallas más grandes */
  }

  .searchInput {
    padding-left: 40px; /* Aumentamos el padding izquierdo del input de búsqueda para pantallas más grandes */
  }

  .searchIcon {
    left: 16px; /* Ajustamos la posición del ícono de búsqueda para pantallas más grandes */
    width: 20px; /* Aumentamos el tamaño del ícono de búsqueda para pantallas más grandes */
    margin-top: -7px;
    
  }

  .searchButton {
    width: 220px; /* Aumentamos el ancho del botón de búsqueda para pantallas más grandes */
    height: 56px; /* Aumentamos la altura del botón de búsqueda para pantallas más grandes */
    font-size: 20px; /* Aumentamos el tamaño de la fuente del botón de búsqueda para pantallas más grandes */
  }
}