.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  background-color: #6495ED;
  border-radius: 16px;
}

.filters {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.searchBar{
  width: 99%;
  height: 100%;
  display: flex;
}
.iconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: WHITE;
  width: 30px;
  height: 40px;
  padding-bottom: 2px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.searchIcon {
  color: #555;  
  width: 30px;
  margin-left: 5px;
}
.searchInput{
  width: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.searchInput:focus {
  outline: none;
}

.filters{
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.date{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  background-color: white;
  height: 50px;
  border-radius: 16px;
}
.dateInput{
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: none;
  padding: 0px 20px 0px 20px;
}
.dateInput:hover{
  cursor: pointer;
}
.dateInput:focus {
  outline: none;
}
.searchButton{
  width: 174px;
  height: 48px;
  border-radius: 12px;
  background-color: #01283F;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover{
  background-color: #015C7F;
}



.personsCounterInput {
  width: 30px;
  height: 20px;
  text-align: center;
  border-color: transparent;
}

.personsCounterInput:focus{
  outline: none;
}

.check{
  font-size: 16px;
  width: 100px;
  color:white;
}

.persons{
  margin: 0px;
  width: 225px;
  height: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #01283F;
  border-radius: 16px;
  padding: 10px 0px 10px 15px;
  justify-content: space-between;
  margin-right: 10px;
}

.persons p{
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.persons button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  justify-content: center;
  border-radius: 50px;
}

.persons button:hover {
  background-color: #6093bf62;
  cursor: pointer;
}

.buttonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.5px solid grey;
  padding: 12px 15px 12px 25px;
  background-color: white;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 26px;
}

.checkContainer{
  background-color: #01283F;
  border-right: 0.5px solid grey;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.buttonIcon{
  margin-left: 5px;
  font-size: 14PX;
}

