.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.imgLogoSmall {
  width: 72px;
  height: auto;
}

.imgLogo {
  width: 100px;
  height: auto;
}

.logo {
  width: 50%;
  text-align: left;
}


.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
}

.userButtons {
  display: flex;
  gap: 5px;
}

.buttons {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  display: flex;
  padding: 10px 30px 10px 30px;
}

.buttons:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.linksContainer {
  width: 696px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


/* Abajo estilos para botón de idiomas*/

.dropdownMenu {
  position: absolute;
  padding: 3px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdownMenu li {
  display: block;
}

.dropdownMenu li button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
}

.dropdownMenu li button:hover {
  background-color: #f5f5f5;
}

.icon {
  font-size: 30px;
  color: white;
}

.darkModeButton{
  border: none;
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.darkModeButton:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.btnLink{
  border: none;
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  cursor: pointer;
}

.btnLink:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.imageContainer{
  background-color: #6093C0;
  width: 45px;
  height: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 20px 0px 30px 0px;
}

.adminInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nameText{
  color: white;
  font-size: 30px;
  font-weight: 500;
}
.picture{
  width: 100%;
  border-radius: 50%;
}

.wrapperText{
  color:rgb(232, 232, 232);
  font-size: 20px;
  margin-bottom: 25px;
}
