.userBar {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff; 
    font-size: 20px;
    display: flex;
    padding: 10px 30px 10px 30px;
    gap: 10px;
    border-radius: 4px;
  }
  
  .menuButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform-origin: top right;
    width: 100%;
  }
  
  .menu button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 15px ; 
    color: #333; 
    transition: color 0.3s ease; 
  }
  
  
  /* Ajustes de iconos */
  .menu button svg {
    font-size: 20px;
  }
  
  .link{
    text-decoration: none;
    color: inherit;
  }
  
  .link:hover{
    background-color: #f8f4f4;
  }
  
  .signOut:hover{
    background-color: #f8f4f4 !important;
  }
  @media screen and (max-width: 768px) {
    .menuButton {
      font-size: 16px; /* Reducimos el tamaño del botón del menú para pantallas más pequeñas */
      padding: 8px 20px; /* Reducimos el espacio interior del botón del menú para pantallas más pequeñas */
    }
  
    .menu {
      padding: 10px 0; /* Reducimos el espacio interior del menú para pantallas más pequeñas */
    }
  
    .menu button {
      font-size: 10px; /* Reducimos el tamaño del texto del menú para pantallas más pequeñas */
      padding: 2px; /* Reducimos el espacio interior de los botones del menú para pantallas más pequeñas */
    }
    .link{
      font-size: 10px;
    }
  }
  
  /* Media queries para pantallas más grandes */
  @media screen and (min-width: 1400px) {
    .menuButton {
      font-size: 20px; /* Aumentamos ligeramente el tamaño del botón del menú para pantallas más grandes */
      padding: 10px 30px; /* Aumentamos ligeramente el espacio interior del botón del menú para pantallas más grandes */
    }
  
    .menu {
      padding: 10px; /* Aumentamos ligeramente el espacio interior del menú para pantallas más grandes */
    }
  
    .menu button {
      font-size: 17px; /* Aumentamos ligeramente el tamaño del texto del menú para pantallas más grandes */
      padding: 10px; /* Aumentamos ligeramente el espacio interior de los botones del menú para pantallas más grandes */
    }
  }
