.table-container2{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 10px;
  gap: 10px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.search-users{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  gap: 10px;
  height: 40px;
}
.search-users input{
  width: 70%;
  border-radius: 8px;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.button-users{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px 5px 15px;
  background-color: #01283F;
  color: white;
  border-radius: 16px;
  border: none;
}

.button-users:hover{
  background-color: #6093C0;
  cursor: pointer;
}

.button-users2{
  width: 100%;
  height: 100%;
  padding: 5px 15px 5px 15px;
  background-color: #01283F;
  color: white;
  border-radius: 16px;
  border: none;
}
.button-users2:hover{
  background-color: #6093C0;
  cursor: pointer;
}
.table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .table2 th,
  .table2 td {
    padding: 10px;
    border: 1px solid #ddd; /* Borde de las celdas */
    text-align: center; /* Alineación del texto al centro horizontalmente */
    vertical-align: middle; /* Centra verticalmente el contenido */
  }
  
  .table2 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  