.sidebar-card{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.nav{
  width: 30%;
}

.card-container{
  flex-wrap: wrap;

}

.card{
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}
