.mainDiv{
  display: flex;
}
.sidebar{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #01283F;
  padding: 20px;
}

.nav{
  width: 20%;
}



.menuIcon{
  font-size: 40px;
  color: white;
}

.button{
  background-color: transparent;
  border: none;
  padding: 10px;
}
.button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}



.cardContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headerContainer{
  background-color: brown;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.headerContainer h2{
  font-size: 32px;
  font-weight: 600;
  line-height: 50.5px;
  margin-left: 20px;
}

.metricsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.logo{
  width: 100px;
  height: 100px;
}
.navLink{
  text-decoration: none;
  color: white;
}


.icon {
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
}


.calendar.darkMode{
  background-color: #333; 
  color: #fff; 
}

.button.darkMode{
  background-color: #022840; 
  color: #fff; 
}


.button:hover.darkMode{
  background-color:#6093bf; 
  color: #fff; 
}

.sidebar.darkMode{
  background-color: #555;
  color:#fff;
}