.container-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-left: -10px;
  width: 100%;
  padding: 10px;
  background-color: #dcf2f1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: min-content
}

.container-dashboard > div {
  margin-right: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.blueButton {
  background-color: #009dff !important
}

.yellowButton {
  background-color: #ffbc00 !important
}

.deleteButton {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ff0000 !important
}

.container-dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.container-dashboard th,
.container-dashboard td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


td {
  text-align: left;
}

th {
  background-color: #f2f2f2;
}