.container{
    background-color: #022840;
    margin: -10px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.footerInfo{
    color:white;
}

.logoFooter {
  width: 100px;
  margin-top: 10px;
}

.contact {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.contact a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}