<div>
  <img src="../../../assets/Logo-White.svg" />
  <h3>Welcome, user!</h3>
  <h3>
    And thanks for joining our global community! Here's a quick guide to help
    you get started.
  </h3>
  <br />
  <h1>Search</h1>
  <h3>Find the perfect place to stay</h3>
  <h3>
    Whether you're planning a weekend getaway or a trip around the world, we'll
    help you find the place that's right for you.
  </h3>
  <br />
  <h1>Contact</h1>
  <h3>
    Get in touch with the administration of the hotels you are interested in
  </h3>
  <h3>
    When you find a place you like, contact the staff to learn more. Feel free
    to message as many hotels as you like.
  </h3>
  <br />
  <h1>Book</h1>
  <h3>Make your reservation</h3>
  <h3>
    Once you're ready to make a reservation, book the place, and then you are
    all set to make your bags!
  </h3>
  <br />
  <h3>That's it! Why not give it a try now?</h3>
  <button>Search Now</button>
  <h3>Thanks,</h3>
  <h3>The PREET Team</h3>
</div>
