.main-filters-container {
  display: flex;
  flex-direction: column;
}

.container-filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: -10px;
  width: 100%;
  padding: 10px;
  background-color: #dcf2f1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-filtros > div {
  margin-right: 20px;
}

.order {
  display: flex;
}

.order > div {
  margin-right: 20px;
}

.reset {
  margin-left: 10px;
}

.container-filtros button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-filtros button:hover {
  background-color: #0056b3;
}

.container-filtros p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 1px;
}

.container-filtros select,
.container-filtros input {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.price {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
}
