@font-face {
    font-family: 'Poppins';
    src: url("./Fonts/Poppins-Regular.ttf") format('truetype');
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(248, 247, 247);
}

