.card-room {
  width: 100%; /* Ocupar todo el ancho disponible dentro del modal */
  height: 100%; /* Ocupar todo el alto disponible dentro del modal */
  display: flex; /* Para que los elementos internos se distribuyan correctamente */
  flex-direction: column; /* Alinear los elementos verticalmente */
  justify-content: center; /* Centrar verticalmente los elementos */ /* Centrar horizontalmente los elementos */
  background-color: rgb(221, 221, 221);
}

.room-image{
  width: 100%;
  height: auto;
}

.card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.card-body h1 {
  font-size: 25px;
}

.card-body p,i{
  font-size: 20px;
}

.card-body button{
  width: 25%;
  padding: 8px;
  background-color: #022840;
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.card-price {
  font-weight: 1000;
  align-self: center;
}

.card-text {
  text-align: center;
  align-self: center;
}

.card-room.darkMode{
  background-color: #333;
  color: #fff; 
}
